<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Objeto"
            id="org.jpericia.objeto">
      </category>
      <view
            name="Categoria tipo objeto"
            icon="icons/folder.png"
            category="org.jpericia.objeto"
            class="org.jpericia.objeto.views.CategoriaTipoObjetoView"
            id="org.jpericia.objeto.views.categoriaTipoObjetoView">
      </view>
      <view
            category="org.jpericia.objeto"
            class="org.jpericia.objeto.views.TipoObjetoView"
            icon="icons/note.png"
            id="org.jpericia.objeto.views.tipoObjetoView"
            name="Tipo objeto">
      </view>
      <view
            category="org.jpericia.objeto"
            class="org.jpericia.objeto.views.ObjetoView"
            icon="icons/package.png"
            id="org.jpericia.objeto.views.objetoView"
            name="Objeto">
      </view>
      <view
            category="org.jpericia.objeto"
            class="org.jpericia.objeto.views.EvidenciaView"
            icon="icons/picture.png"
            id="org.jpericia.objeto.views.evidenciaView"
            name="Evidência">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.jpericia.objeto.actionObjeto"
            label="%actionSet.label.objeto"
            visible="true">
         <action
               class="org.jpericia.objeto.actions.CategoriaTipoObjetoWizardAction"
               icon="icons/folder_add.png"
               id="org.jpericia.objeto.novaCategoriaTipoObjeto"
               label="%actionSet.label.categoriaTipoObjeto"
               menubarPath="file/newWizard/additions"
               style="push"
               toolbarPath="objeto"
               tooltip="%action.tooltip.novaCategoriaTipoObjeto">
         </action>
		 <action
               class="org.jpericia.objeto.actions.TipoObjetoWizardAction"
               icon="icons/note_add.png"
               id="org.jpericia.objeto.novoTipoObjeto"
               label="%actionSet.label.tipoObjeto"
               menubarPath="file/newWizard/additions"
               style="push"
               toolbarPath="objeto"
               tooltip="%action.tooltip.novoTipoObjeto">
         </action>
		 <action
               class="org.jpericia.objeto.actions.ObjetoWizardAction"
               icon="icons/package_add.png"
               id="org.jpericia.objeto.novoObjeto"
               label="%actionSet.label.objeto"
               menubarPath="file/newWizard/additions"
               style="push"
               toolbarPath="objeto"
               tooltip="%action.tooltip.novoObjeto">
         </action>
		 <action
               class="org.jpericia.objeto.actions.EvidenciaWizardAction"
               icon="icons/picture_add.png"
               id="org.jpericia.objeto.novaEvidencia"
               label="%actionSet.label.evidencia"
               menubarPath="file/newWizard/additions"
               style="push"
               toolbarPath="objeto"
               tooltip="%action.tooltip.novaEvidencia">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jpericia.objeto.perspective.ObjetoPerspective"
            icon="icons/package.png"
            id="org.jpericia.objeto.perspective.objetoPerspective"
            name="Objeto">
      </perspective>
   </extension>

</plugin>
