<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.jpericia.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.jpericia.application"
            name="JPericia">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="JPericia">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/alt_window_16.gif"
            id="org.jpericia.NavigatorView"
            name="NavigatorView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.jpericia.NavigatorRoot"
            id="org.jpericia.NavigatorRoot">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.jpericia.NavigatorView">
      </viewer>
      
           <viewerContentBinding
            viewerId="org.jpericia.NavigatorView">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="net.videodb.navigator.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      
            <viewerActionBinding
            viewerId="org.jpericia.NavigatorView">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>


</plugin>
